
// colors
darkestBlue = rgb(1, 29, 52)
navBarNavy = rgb(42, 79, 110)
logoLightBlue = rgb(96, 178, 246)
veryLightBlue = rgb(96, 178, 246)
lightPurple = rgb(232, 109, 232)
lightRed = rgb(255,79, 79)

// fonts
@import url('https://fonts.googleapis.com/css?family=Lobster')
lobster = 'Lobster', cursive
blocky = Impact, Charcoal, sans-serif
arial = Arial, Helvetica, sans-serif

// styles
greyBorder = 1px solid rgb(128, 128, 128)
