@import '_colorsfontsstyles.styl'


.dropzone
  width 12rem
  height 12rem
  border 2px dashed navBarNavy
  border-radius: .5rem
  padding 1rem
  margin auto
.dropzone-active
  border 2px solid logoLightBlue
.dropzone-reject
  color lightGrey
  border 2px solid lightGrey
