@import '_colorsfontsstyles.styl'

#footer
  position absolute
  bottom 0
  width 100%
  height 3rem
  background-color darkestBlue
  color white
  text-align center
  font-family lobster
  font-size 1.2rem
  > div
    position relative
    top .5rem
