@import '_colorsfontsstyles.styl'

.modal-backdrop
  z-index 1
  position fixed
  display flex
  justify-content center
  align-items center
  left 0
  top 0
  width 100%
  height 100%
  overflow auto
  background-color rgb(42, 79, 110)
  background-color rgba(42, 79, 110,0.5) // try rgba(0, 0, 0, 0.85098)

.modal
  background-color white    
  display block
  width 30rem
  overflow-y auto
  overflow-wrap break-word
  box-shadow lightGreyShadow

.modal-header
  height 3rem
.modal-footer
  height 2rem
.modal-header 
.modal-footer
  display flex
  justify-content center
  align-items center
  width 100%
  background-color navBarNavy
  h1
    font-family slimBlocky
    font-size 1.5rem
    color white
  
.modal-content
  margin 2rem
  
// login

.modal
  input
      display block
      margin auto
      font-family logoBlocky
      font-size 2rem
      color logoLightBlue
      margin-top 1.3rem
  