
#nav-bar
  margin-bottom 2rem
  > a
    text-decoration none
    color white
    display inline-block
    margin 1rem 1rem
  a:first-child
    margin-left: 2rem
  a:last-child  
    margin-right: 2rem

// #nav-bar
//   > .logo
//     text-decoration none
//     font-family 'Lobster', cursive
//     color logoLightBlue
//     > span
//       font-family Impact, Charcoal, sans-serif
