
#nav-bar
  margin-bottom 2rem
  > a
    text-decoration none
    color white
    display inline-block
    margin 1rem 1rem
  a:first-child  
    margin-left: 2rem;
  a:last-child  
    margin-right: 2rem;