
@import '_colorsfontsstyles.styl'

#new-url-form
  margin 5rem 0 4rem
  > input
    display block
    margin 1rem auto
    font-family slimBlocky
  > input:first-child
      font-size 2.5rem
      text-align center
      width 41rem
      border 1px solid white
      box-shadow lightGreyShadow
      color logoLightBlue
      @media (max-width: 42rem)
        width 97%
        margin 0 auto
  > input:last-child
      width 10rem
      border none
      border 2px solid lightGrey
  > input:last-child:disabled
      background-color rgba(0,0,0,0)
      opacity 0.5
  > input:last-child:enabled
      background-color logoBeige
      color logoLightBlue


#new-urls-list-table
  display block
  max-height 8rem
  max-width 64rem
  width 80%
  overflow-y auto
  margin 1.2rem auto 4rem
  overflow-wrap break-word
  vertical-align top
  border 1px solid lightGrey
  box-shadow lightGreyShadow
  @media (min-width: 42rem)
    min-width 41rem
  @media (max-width: 42rem)
    width 97%
    margin 0 auto
  > tbody
    width 100%
    display inline-block
    border-right lightGrey
    >tr:first-child
      background-color navBarNavy
      border-color navBarNavy
      color white
    > tr
      width 100%
      display inline-block
      color navBarNavy
      background-color white
      > .header-cell
        border-top none
      > td
        display inline-block
        float left
        height 100%
        width 41%
        padding-left 1rem
        font-family slimBlocky
        border-top greyBorder
      > td:nth-child(3n)
        width 18%
    > tr:nth-child(odd)
      background-color logoLightBlue
      color white
      font-weight 300



