
@import '_colorsfontsstyles.styl'

#new-url-form
  > input
    display block
    margin .5rem auto
    font-family slimBlocky
  > input:last-child:disabled
      background-color lightGrey
      opacity 0.5
      border greyBorder
  > input:enabled
      color logoLightBlue
      background-color white
      border greyBorder

#new-urls-list-table
  display block
  max-height 8rem
  max-width 64rem
  width 80%
  overflow-y auto
  margin 1.5rem auto
  border-top 1px solid lightGrey
  border-left 1px solid lightGrey
  overflow-wrap break-word
  vertical-align top
  box-shadow lightGreyShadow
  @media (max-width: 40rem)
      width 25rem
      margin-left auto
      margin-right auto
  @media (max-width: 20rem)
      width 100%
  > tbody
    width 100%
    display inline-block
    border-right lightGrey
    >tr:first-child
      background-color navBarNavy
      border-color navBarNavy
      color white
    > tr
      width 100%
      display inline-block
      color navBarNavy
      background-color white
      > .header-cell
        border-top none
      > td
        display inline-block
        float left
        height 100%
        width 50%
        padding-left 1rem
        font-family slimBlocky
        border-top greyBorder
    > tr:nth-child(even)    
      background-color logoLightBlue
      color white
      font-weight 300



