@import '_colorsfontsstyles.styl'

#user-pic
  display block
  margin 0 auto
  width 12.25rem
  height 12.25rem
  border 1px solid navBarNavy
  box-shadow: 0px 1px 1px standardGrey
  background-image url(../data/user-silhouette.png)
  background-repeat no-repeat
  border-radius 50%
