@import '_colorsfontsstyles.styl'

#user-profile
  text-align center
  button
    display block
    background-color white
    border 1px solid logoLightBlue
    color logoLightBlue
    padding 0 1rem
    margin .2rem auto 1rem
    font-family arial
    font-size .8rem
  button:hover
    background-color logoLightBlue
    color white
    transition-delay 0s
    transition-duration 0.3s
    transition-property all
    transition-timing-function ease
  button:disabled
  button:disabled:hover
    color logoLightBlue
    background-color rgba(0,0,0,0)
    opacity 0.5

#user-pic
  margin 0 auto
  width 12.25rem
  height 12.25rem
  border 1px solid navBarNavy
  background-color white
  background-image url(../data/user-silhouette.png)
  background-repeat no-repeat
  border-radius 50%

#user-data
  display inline-block
  margin-top .5rem
  background-color rgba(255,255,255,.8);
  padding 2rem 5rem
  box-shadow lightGreyShadow
  #username
  #email
  #user-created-date
    margin-bottom .5rem
    :first-child
      font-family lobster
      font-size 1.5rem
      color logoLightBlue
    :last-child
      font-family logoBlocky
      font-size 2rem
      color navBarNavy
  form
    input
      font-family logoBlocky
      font-size 2rem
      color logoLightBlue
      margin-top 1.3rem
      margin-bottom .4rem
      padding-left 1rem
  button
    display inline-block
    margin-bottom .9rem
    margin-right .3rem
    margin-left .3rem
  #most-popular-link
    margin-top 1.5rem
    font-family slimBlocky
    font-size 1.3rem
    color navBarNavy
    :first-child
      font-family logoBlocky
      color logoLightBlue

