@import '_normalize.styl'
@import '_colorsfontsstyles.styl'
@import '_navlinks.styl'
@import '_footer.styl'
@import '_newurlform.styl'
@import '_homedisplayboxes.styl'

html 
body
#root
  height 100%

  
#main
  min-height 100%
  position relative
  padding-bottom 3rem // match footer height
  


.logo
  text-align center
  > a
    text-decoration none
    font-family lobster
    color logoLightBlue
    > span
      font-family blocky
      font-size 3rem
      color navBarNavy

#nav-bar
  background-color navBarNavy

.active
  color: green 

// paletton base color: 2A4F6E
