@import '_colors.styl'
@import '_normalize.styl'
@import '_navlinks.styl'
@import '_newurlform.styl'

@import url('https://fonts.googleapis.com/css?family=Lobster')

#logo
  text-align center
  > a
    text-decoration none
    font-family 'Lobster', cursive;
    color logoLightBlue
    > span
      font-family Impact, Charcoal, sans-serif
      font-size 3rem
      color navBarNavy

#nav-bar
  background-color navBarNavy

.active
  color: green 

// paletton base color: 2A4F6E
