@import '_normalize.styl'
@import '_colorsfontsstyles.styl'
@import '_modals.styl'
@import '_headerfooter.styl'
@import '_newurlformandlist.styl'
@import '_homedisplayboxes.styl'
@import '_userprofile.styl'
@import '_dropzone.styl'
@import '_dbpresenter.styl'

html
body
#root
  height 100%

#main
  min-height 100%
  position relative
  padding-bottom 5rem // 3 matches footer height, 2 for margin
  background url(../data/blurry-city.jpg) no-repeat center center fixed
  background-size cover

// paletton base color: 2A4F6E
// break points: 42rem, 25rem, 20rem
